{% extends 'base.html' %}

{% block content %}
    <!-- Construct required javascript function args -->
    <head>
        <script>
            var round_link = "{{round_link}}";
        </script>
    </head>

    <!-- Page content -->
    <div class="div_main">
        <div class="row">
            <div class="col">
                <h4> {{ round.music_type.name }}recs <i>{{round.status.name}}</i> phase</h1>
            </div>
            <div class="col text-right">
                <button type="button"
                        class="btn btn-secondary btn_main"
                        data-toggle="modal"
                        data-target="#shareRoundLinkModal"
                        onclick="fillRoundLinkTextbox(round_link);">
                    Share the Round Link
                </button>
            </div>
        </div>
    </div>
    <div class="bg-light div_main">
        <h4>Round description</h4>
        <div class="text-center">
            {% for line in round.description.split('\n') %}
                {{ line }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="bg-light div_main">
        <h4>Snoozin recommendation type</h4>
        <div class="row bg-dark text-light div_round">
            {{ round.snoozin_rec_type.name }}
        </div>
    </div>

    {% if round.submissions %}
        <div class="bg-light div_main">
            <h4>The recommenders</h4>
            {% for submission in round.submissions %}
                <div class="row bg-dark text-light div_round" style="min-width: 125px;">
                    <div style="text-align: center;">{{ submission.user_name }}</div>
                    {% if submission.guesses %}
                        <div class="align-bottom text-right font-italic" style="font-size: small; color: yellow;">
                            guessed
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="text-left">
        {% block round_content %} {% endblock %}
    </div>
    <div class="text-center div_main">
        {% block round_nav %} {% endblock %}
    </div>

    <!-- 'Share Round Link' popup window-->
    <div id="shareRoundLinkModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share the Round Link</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" style="width: 100%;" value="" id="roundLinkTextbox">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn_main" onclick="copyRoundLink()">Copy link to clipboard</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript used in the round pages-->
    <script type="text/javascript" src="{{url_for('static', filename='js/round.js')}}"></script>
{% endblock %}