{% extends 'base.html' %}

{% block content %}
    <!-- Construct required javascript function args -->
    <head>
        <script>
            var round_link = "{{get_abs_round_link(round)}}";
        </script>
    </head>

    <!-- Page content -->
    <div class="div_round_section">
        <div class="row">
            <div class="col">
                <h4> {{ round.music_type.name }}recs <i>{{round.status.name}}</i> phase</h1>
            </div>
            <div class="col text-right">
                <button type="button"
                        class="btn btn-secondary btn_main"
                        data-toggle="modal"
                        data-target="#shareRoundLinkModal"
                        onclick="fillRoundLinkTextbox(round_link);">
                    Share the Round Link
                </button>
            </div>
        </div>
    </div>
    <div class="bg-light div_round_section">
        <h4>Round Info</h4>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12 div_round_info">
                <h6>Description</h6>
                {% for line in round.description.split('\n') %}
                    {{ line }}<br>
                {% endfor %}
            </div>
            {% if round.submissions %}
                <div class="col-lg-6 col-sm-12 div_round_info">
                        <h6>The recommenders</h6>
                        {% for submission in round.submissions %}
                            
                            {% if submission.guesses %}
                                <span class="div_recommender_name">{{submission.user_name}}<span style="font-size: x-small; font-style: italic; vertical-align: sub; color: darkgreen">guessed</span></span>
                            {% else %}
                                <span class="div_recommender_name">{{submission.user_name}}</span>
                            {% endif %}
                        {% endfor %}
                </div>
            {% endif %}
            <div class="col-lg-6 col-sm-12 div_round_info">
                <h6>Snoozin recommendation type</h6>
                {{ round.snoozin_rec_type.name }}
            </div>
            <div class="col-lg-6 col-sm-12 div_round_info">
                <h6>Date created</h6>
                {{ round_created_date(round) }}
            </div>
        </div>
    </div>

    <div class="text-left">
        {% block round_content %} {% endblock %}
    </div>
    <div class="text-center div_round_section">
        {% block round_nav %} {% endblock %}
    </div>

    <!-- 'Share Round Link' popup window-->
    <div id="shareRoundLinkModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share the Round Link</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" style="width: 100%;" value="" id="roundLinkTextbox">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn_main" onclick="copyRoundLink()">Copy link to clipboard</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript used in the round pages-->
    <script type="text/javascript" src="{{url_for('static', filename='js/round/base.js')}}"></script>
{% endblock %}