{% extends 'round/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block round_nav %}
    {% if round.status != revealed %}
        <form
            method="post"
            action="{{ url_for('round_advance', long_id=round.long_id)}}"
            onsubmit="return confirmAndAdvance('Are you sure you want to reveal to all participants who recommended what?')";>
            <input class="btn btn-danger btn_main" type="submit" name="advance_to_revealed" value="Advance to the revealed phase">
        </form>
    {% endif %}
{% endblock %}

{% block round_content %}
    <div class="bg-light div_round_content">
        <h4> The {{round.music_type.name}}s:</h4>
        {% for recommender, music in music_submissions.items() %}
            <a href="{{music.link}}">
                <div class="row bg-dark text-light music">
                    <div class="row">
                        <div class="col col-auto">
                            <img src="{{music.img_url}}"
                                alt="{{music.name}}"
                                class=img_albums>
                        </div>
                        <div class="col" style="min-width: 200px">
                            <span class="align-middle"><b>{{music.name}}</b> by {{music.get_artists_comma_separated()}}</span>
                        </div>
                    </div>
                    {% if round.status ==  revealed %}
                        <div class="align-bottom text-right font-italic">recommended by {{recommender}}</div>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}