{% extends 'round/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block round_nav %}
{% endblock %}

{% block round_content %}
    {% if playlist %}
        <div class="bg-light div_round_section">
            <h4>The playlist</h4>
            <a class="bg-dark text-light div_round_item btn" role="button" href="{{playlist.link}}">
                <div class="row">
                    {%if playlist.img_url %}
                        <div class="col col-auto">
                            <img src="{{playlist.img_url}}"
                                alt="{{playlist.name}}"
                                class="img_playlist">
                        </div>
                    {% endif %}
                    <div class="col div_round_item_name">
                        {{playlist.name}}
                    </div>
                </div>
            </a>
        </div>
    {% endif %}

    <div class="bg-light div_round_section">
        <h4> The {{round.music_type.name}}s</h4>
        {% for user_name, music in get_shuffled_music_submissions(round).items() %}
            <a class="bg-dark text-light div_round_item btn" role="button" href="{{music.link}}">
                <div class="row">
                    <div class="col div_round_revealed_music_user_name">
                        {{user_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-auto">
                        <img src="{{music.img_url}}"
                            alt="{{music.name}}"
                            class=img_albums>
                    </div>
                    <div class="col div_round_item_name">
                        <b>{{music.name}}</b> by {{music.get_artists_comma_separated()}}
                    </div>
                </div>

                <div class="align-bottom text-right font-italic">{{loop.index0}}</div>
            </a>
        {% endfor %}
    </div>

    <div class="bg-light div_round_section">
        <h4>The guesses</h4>
        {% for submission in round.submissions %}
            {% if submission.guesses %}
                <div class="row bg-dark text-light div_round_item">
                    <p class="p_round_revealed_guess_user_name">{{submission.user_name}}</p>
                    {% for guess in submission.guesses %}
                        {% if guess.correct %}
                            <p class="p_round_revealed_correct_guess">{{guess.user_name}}: {{guess.music_num}}</p>
                        {% else %}
                            <p class="p_round_revealed_incorrect_guess">{{guess.user_name}}: {{guess.music_num}}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}