{% extends 'round/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block round_nav %}
    <form
        method="post"
        action="{{ url_for('round.advance', long_id=round.long_id)}}"
        onsubmit="return confirmAndAdvance('Are you sure you want to end the submission phase for all participants?')">
        <input
            class="btn btn-danger btn_main"
            type="submit"
            name="advance_to_listen"
            value="Advance to the listen phase"
        >
    </form>
{% endblock %}

{% block round_content %}
    {% if current_user_music %}
        <div class="bg-light div_round_section">
            <h4>Your current submission</h4>
            <a class="bg-dark text-light div_round_item btn" role="button" href="{{current_user_music.link}}">
                <div class="row">
                    <div class="col col-auto">
                        <img src="{{current_user_music.img_url}}"
                            alt="{{current_user_music.name}}"
                            class=img_albums>
                    </div>
                    <div class="col div_round_item_name">
                        <b>{{current_user_music.name}}</b> by {{current_user_music.get_artists_comma_separated()}}
                    </div>
                </div>
            </a>
        </div>
    {% endif %}

    <div class="bg-light div_round_section">
        <h4>Submit music to the round</h4>
        <form class="form form-horizontal" method="post" role="form">
            {{ rec_form.hidden_tag() }}

            {{ wtf.form_field(rec_form.name) }}
            {% for error in rec_form.name.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}

            {% if round.music_type.name == "album" %}
                {{ wtf.form_field(rec_form.spotify_link,
                                  id="spotify_search_bar",
                                  onkeyup="get_spotify_album_search_results()",
                                  onpaste="get_spotify_album_search_results()") }}
            {% elif round.music_type.name == "track" %}
                {{ wtf.form_field(rec_form.spotify_link,
                                  id="spotify_search_bar",
                                  onkeyup="get_spotify_track_search_results()",
                                  onpaste="get_spotify_track_search_results()") }}
            {% endif %}

            <div id="music_search_results" style="margin-left: 15px;">
                {% for i in range(20) %}
                    <div id="music_result_{{i}}" style="display: none" class="row">
                        <button class="bg-dark text-light div_round_item btn" type="button" onclick="choose_music({{i}})">
                            <div class="row">
                                <div class="col col-auto">
                                    <img id="music_result_img_{{i}}" src=""
                                        alt=""
                                        class=img_albums>
                                </div>
                                <div class="col" id="music_result_name_{{i}}";></div>
                            </div>
                        </button>
                    </div>
                {% endfor %}
            </div>
            <div id="spotify_link_form_errors" >
                {% for error in rec_form.spotify_link.errors %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div id="music_search_no_results_found" class="alert alert-danger" role="alert" style="display: none">
                Sorry, no results found.
            </div>
            <div id="music_search_invalid_link" class="alert alert-danger" role="alert" style="display: none">
                Sorry, spotify {{round.music_type.name}} link is invalid
            </div>

            <div id="submit_rec_button" style="margin-top: 15px;">
                {{ wtf.form_field(rec_form.submit_rec) }}
            </div>
        </form>
    </div>

    <!-- Javascript used in this page-->
    <script type="text/javascript" src="{{url_for('static', filename='js/round/submit_phase.js')}}"></script>
{% endblock %}
