{% extends 'round/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block round_nav %}
    <form
        method="post"
        action="{{ url_for('round_advance', long_id=round.long_id)}}"
        onsubmit="return confirmAndAdvance('Are you sure you want to end the submission phase for all participants?')">
        <input
            class="btn btn-danger btn_main"
            type="submit"
            name="advance_to_listen"
            value="Advance to the listen phase"
        >
    </form>
{% endblock %}

{% block round_content %}
    <div class="bg-light div_round_content">
        <h4>Submit music to the round</h4>
        {{ wtf.quick_form(rec_form, method="post", action=url_for('round_submit_rec', long_id=round.long_id)) }}
    </div>
{% endblock %}
