{% extends 'round/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block round_nav %}
    <form
        method="post"
        action="{{ url_for('round.advance', long_id=round.long_id)}}"
        onsubmit="return confirmAndAdvance('Are you sure you want to end the submission phase for all participants?')">
        <input
            class="btn btn-danger btn_main"
            type="submit"
            name="advance_to_listen"
            value="Advance to the listen phase"
        >
    </form>
{% endblock %}

{% block round_content %}
    <div class="bg-light div_round_content">
        <h4>Submit music to the round</h4>
        <form class="form form-horizontal" method="post" role="form">
            {{ rec_form.hidden_tag() }}

            {{ wtf.form_field(rec_form.name) }}
            {% for error in rec_form.name.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}

            {{ wtf.form_field(rec_form.spotify_link) }}
            {% for error in rec_form.spotify_link.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}

            {{ wtf.form_field(rec_form.submit) }}
        </form>
    </div>
{% endblock %}
