{% extends 'base.html' %}

{% block content %}
    <div class="bg-light" style="padding: 15px; margin-top: 10px; margin-bottom: 10px;">
    <h3>Technical info</h3>
    <p style="margin-left: 10px;">
        If you're interested in how the site is built or want to contribute, check it out on github <a href="https://github.com/nknaian/musicrecs">https://github.com/nknaian/musicrecs</a>
    </p>
    <h3> Contact Us </h3>
    <p style="margin-left: 10px;">
        Email <i>snoozinforabruisin@gmail.com</i> with any questions. He's unfortunately not very responsive - usually sleeping.
    </p>
    <h3> FAQs </h3>
    <p style="margin-left: 10px;">
        <b>Who is "snoozin"?</b><br>
        <p style="margin-left: 20px;">
            <i>"Snoozin" is the sobriquet for the collection of Spotify API powered algorithms used to add an additional music recommendation to each round.</i>
        </p>
    </p>
    </div>
{% endblock %}