{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Musicrecs {% endblock %}</h1>
    <p> Musicrecs is a platform for sharing music recommendations<br>
        anonymously with friends. The Spotify API is leveraged to<br>
        add music to the pot for some extra spice.<br>
        <br>
        Email snoozinforabruisin@gmail.com with any questions.<br>
        <br>
        FAQs:<br>
        Q: Doesn't seem like this site does anything?<br>
        A: Correct. Not yet...
    </p>
{% endblock %}