/*Reset Stylesheet to clear the default formatting across all browsers.*/


/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*----------------------------------------------------------------------*/

/* Original Musicrecs content starts here */

/* PAGE base.html */

.container-fluid {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Loading Content */
#loading {
    display: none;
    cursor: wait;
}

#loading div {
    margin-left: 50%;
    margin-top: 20px;
    width: 35px;
    height: 35px;
    background: url(/static/loadingimage.gif) no-repeat;
}

/* PAGE index.html */
p {
    color: green;
}
#index_p_phase {
    margin-left: 20px;
    color: red; /* for debug purposes */
}

/*<div class="bg-light">
        <h2 style="margin-bottom: 20px;">Welcome to Musicrecs!</h2>
        <p>Musicrecs is a platform for sharing spotify music recommendations anonymously with friends.</p>
        <p>To get started, <a href="#new_round_form">create a new music recommendation round</a> and then share the created round link with others.</p>
        <p>The recommendation round will have three phases:</p>
        <p style="margin-left: 20px;"><i>Submit Phase</i>: Participants submit spotify music links of their recommendations.</p>
        <p style="margin-left: 20px;"><i>Listen Phase</i>: Participants listen to the music and consider who may have submitted what.</p>
        <p style="margin-left: 20px;"><i>Revealed Phase</i>: It is revealed which participants recommended what.</p>
        <p>"Snoozin" will automatically send in a recommendation for every round with something he's been listening to lately.</p>
    </div>

    */